#helpMessage {
    -fx-text-fill: black;
}

#copyButton, #openButton {
    -fx-text-fill: white;
    -fx-background-color: dimgray;
}

#copyButton:hover, #openButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed, #openButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-background-color: white;
}
